body{ margin:0px; padding:0px; background:#FFF; font-family:"微软雅黑"; font-size:100%;}
.clear{ clear:both;}
a{ text-decoration:none;}
a:hover{ text-decoration:none;}
.quanju{ width:100%; max-width:640px; margin:0 auto;}

.dingbu{ width:100%; background:#2d3e50;}
.dingbu td{ font-size:1em; color:#FFF; text-align:center;}
.xinxi{ width:100%; background:#dceded; padding:3% 0 3% 0;}
.touxiang{ width:33%; float:left; text-align:center;}
.touxiang img{ width:80%; padding-top:12%;}
.xi{ width:67%; float:left;}
.xi h2{ font-size:0.7em; color:#696969; margin:0px; font-weight:normal; padding:2% 0 2% 0;}

.biao{ width:100%; background:#546c6e;}
.biao td{ font-size:0.8em; color:#FFF; text-align:center;}
.nei_a{ width:100%;}
.n_a{ width:95%; margin:0 auto 0 auto; border-bottom:solid 1px #d5d5d5;}
.n_a td{ font-size:0.7em; color:#737373; line-height:35px;}
.n_a td span{ color:#ff5366;}
.n_a td img{ width:93%;}


.dibu{ width:100%; max-width:640px; background:#546c6e; padding:2% 0 2% 0;}
.dibu ul{ margin:0px; padding:0;}
.dibu li{ width:33%; float:left; list-style:none; text-align:center;}
.dibu li img{ width:80%;}

.kop{ width:100%;}
.biao_a{ width:100%; background:#546c6e;}
.biao_a td{ font-size:0.8em; color:#FFF;}
.biao_a td a{ color:#5fd4ed;}
.biao_a td a:hover{ color:#5fd4ed;}

.anniu{ width:100%; margin-top:5%;}
.anniu ul{ margin:0px; padding:0px;}
.anniu li{ width:33%; float:left; text-align:center; list-style:none;}
.anniu li img{ width:60%;}

.anniu_b{ width:100%; margin-top:8%; text-align:center;}
.anniu_b img{ width:20%;}

.taopu{ width:100%;}
.taopu td{ font-size:0.9em; color:#797878; text-align:center;}
.tewr{ width:80%; margin:0 auto;}
.tewr td{ font-size:0.8em; color:#797878;}

.anniu_c{ width:100%; margin-top:5%; text-align:center;}
.anniu_c img{ width:20%;}

.tewr_ss{ width:90%; margin:0 auto;}
.tewr_ss td{ font-size:0.8em; color:#797878;}

.dubu_ss{ width:100%; background:#FFF; margin-top:3%; border-top:solid 1px #f6f6f6; text-align:right; padding:1% 0 1% 0;}
.dubu_ss img{ width:35%; padding-right:3%;}