.quanju_b{width:100%; margin:0 auto; background:#ececec;}
.shang_a{ width:100%; height:79px; background:url(../images/tu10.png) repeat-x;}
.shang_a ul{ margin:0px; padding:0px;}
.shang_a li{ width:25%; float:left; list-style:none; text-align:center; font-size:0.8em; line-height:70px;}
.shang_a li td{ text-align:center;}
.shang_a li td img{ width:70%;}
.shang_a li a{ color:#737373;}
.shang_a li a:hover{ color:#f10303;}

.xia_a{ width:95%; background:#FFF; margin:2% auto 0 auto;}
.xia_a td p{ font-size:0.8em; line-height:25px; margin:0px;}
.xia_a td p a{ color:#737373;}
.xia_a td p a:hover{ color:#06d25c;}
.xia_a td img{ width:90%; padding-top:6%;}
.xia_a td h2{ font-size:0.8em; color:#078dcb; line-height:20px; font-weight:normal; margin:2% 0 0 0;}
.xia_a td h2 span{ padding-left:20px;}
.xia_a td h1{font-size:1em; color:#737373; text-align:center; line-height:25px; margin:0px;}
.xia_a td h3{font-size:1.2em; color:#ff5366; text-align:center; line-height:25px; margin:0px;}

.tupian_a{width:100%;}
.nei_c{ width:100%; margin:0 auto;}
.nei_c img{ width:100%;}
.piaofu_a{ width:100%; max-width:640px; height:50px; font-size:0.9em; color:#FFF; line-height:50px; text-indent:5%; border-top:3px solid #cae603; background:url(../images/tu29.png);}
.piaofu_a strong{ font-weight:normal; font-size:0.8em;}
.piaofu_a span{ color:#F00; font-size:0.8em; padding-left:4%;}

.neirong_a{ width:100%; padding-top:20px;}
.neirong_a{ width:95%; background:#FFF; margin:0 auto;}
.wenben_a{ width:100%;}
.wenben_a h2{ font-size:1em; margin:0px; padding-right:2%;}
.wenben_a h2 a{ color:#5a5959;}
.wenben_a h2 a:hover{ color:#fb4f4f;}

.wenben_a img{ width:100%;}
.wenben_a td{ font-size:0.9em; line-height:25px;}

.wenben_b{ width:100%;}
.wenben_b h2{ height:65px; font-size:1.1em; color:#fc6baf; line-height:65px; margin:0px;}
.wenben_b img{ width:60%;}
.jiange_a{ height:20%; width:95%; margin:0 auto; border-bottom:solid 1px #e9e9e9;}

.neirong_b{ width:100%;}
.wenben_b{ width:95%; background:#FFF; margin:0 auto;}

.neirong_b td h1{ height:35px; font-size:0.8em; color:#909090; margin:0px; line-height:35px; font-weight:normal; text-indent:3%;}
.neirong_b td h1 a{ color:#6a6b6b;}
.neirong_b td h1 a:hover{ color:#fb4f4f;}
.piaofu_d{ width:100%;}
.tu_c{ width:100%; text-align:center;}
.tu_c img{ width:100%;}
.wenben_i{ width:100%;}
.wenben_i h3{font-size:0.8em; font-weight:normal; text-indent:12%; color:#f9c105; margin:0px;}


.neirong_c{ width:100%;}
.wenben_c{ width:95%; margin:0 auto; background:#FFF;}
.wenben_c td{ font-size:1em; color:#676565;}
.wenben_c td img{ width:100%;}

.rong_b{ width:100%; padding-top:20px; margin-top:15px;}
.wenben_d{ width:95%; margin:0 auto 15px auto; background:#FFF;}
.wenben_d td{ font-size:0.8em;}
.wenben_d td a{ color:#6a6b6b;}
.wenben_d td a:hover{ color:#fb4f4f;}
.wenben_d td img{ width:85%;}

.rong_c{ width:100%;}
.rong_c h2{ height:40px; font-size:1em; color:#fc6baf; text-indent:5%; margin:0px; line-height:40px;}
.wenben_e{ width:95%; margin:0 auto; background:#FFF;}

.xuanxiang{ width:100%; height:70px; border-bottom:solid 1px #e9e9e9;}
.xuanxiang ul{ margin:0px; padding:0px;}
.xuanxiang li{ width:33%; float:left; font-size:1em; line-height:70px; text-align:center; list-style:none;}

.xuanxiang li a{color:#6a6b6b;}
.xuanxiang li a:hover{ color:#fb4f4f;}

.neirongye{ width:100%; padding-bottom:20px;}
.neirongye p{ font-size:1em; color:#828080; line-height:35px; padding:0 7% 0 7%;}

.jiange_b{ width:100%; height:60px; text-align:center;}
.wenben_f{width:100%; max-width:640px; margin:0 auto; background:#FFF; text-align:center; padding:8% 0 8% 0;}
.wenben_f img{ width:90%;}
.wenben_f p{ font-size:0.9em; color:#767676; line-height:35px; text-align:left; padding:0 8% 0 8%;}


.tu_b{ width:100%;}
.tu_b img{ width:100%;}
.biaopai{ width:100%; background:url(../images/tu22.png) repeat-x;}
.biaopai ul{ margin:0px; padding:25px 0px 0px 0px;}
.biaopai li{ width:50%; height:130px; float:left; color:#ffffff; font-size:1.2em; line-height:45px; text-align:center; font-weight:bold; list-style:none;}
.mu{ width:50%; background:url(../images/tu23.png) no-repeat;}
.biaopai li span{ color:#ef5704;}

.nei_d{ width:100%; background:#ffdccb;}
.sousuo{ width:88%; padding:15px 0px 15px 0px; margin:0 auto;}
.beijing_a{ width:2%; height:66px; float:left;}
.beijing_b{ width:96%; height:66px; float:left; background:#a2ebac;}
.beijing_c{width:2%; height:66px; float:left;}
.b_zuo{ width:82%; float:left;}
.b_you{ width:18%; float:left; padding-top:8px; text-indent:10px;}
.b_you img{ width:85%;}

.nei_e{ width:100%; background:#ffdccb;}
.e_rong{ width:95%; margin:0 auto;}
.e_rong ul{ margin:0px; padding:0px;}
.e_rong li{ width:46%; float:left; list-style:none; padding:3% 0px 5% 2%;}

.zongti{ width:100%;}
.ti{ width:100%; border:solid 2px #fe6657;}
.ti img{ width:100%;}

.piaofu_b{ width:100%; height:42px;}
.wenben_h{ width:26%; height:42px; font-size:1em; color:#FFF; text-align:center; line-height:20px; margin-left:70%;}
.piaoliu{ width:100%;}
.tupian_b{ width:30%; padding-left:68%;}
.tupian_b img{ width:100%;}


.xuanxiang_b{ width:100%; max-width:640px; background:url(../images/tu29.png);}
.xuanxiang_b ul{ margin:18px 0px 18px 0px; padding:0px;}
.xuanxiang_b li{ width:33%; float:left; list-style:none; text-align:center;}
.xuanxiang_b li img{ width:70%;}

.quanju_c{width:100%; max-width:640px; margin:0 auto; background:url(../images/tu33.png) repeat-y;}
.nei_f{ width:93%; margin:0 auto;}
.f_a{ width:100%;}
.f_a p{ margin:0px; font-size:0.8em;}
.f_b{ width:100%; padding-top:5%;}
.f_b img{ width:100%;}

.f_c{ width:100%; margin-top:30px;}
.f_c ul{ margin:0px; padding:0px;}
.f_c li{ width:46%; float:left; list-style:none; margin:2%;}
.muo{ width:100%;}
.gs{ width:100%;}
.gs img{ width:100%;}
.lop{ width:100%; font-size:1.5em; padding-top:20%; text-indent:8%;}
.lop a{ color:#FFF;}
.lop a:hover{ color:#fedada;}

.chakan{ width:100%; font-size:1em; color:#787878; text-align:center; line-height:30px;}
.chakan a{ color:#787878;}
.liebiao_ss{ width:100%; margin:10px 0px 0px 0px;}
.liebiao_ss ul{ margin:0px; padding:0px 0px 20px 0px;}
.liebiao_ss li{ height:55px; font-size:0.7em; list-style:none; line-height:55px; text-indent:2%; border-bottom:solid 1px #d5d5d5;}
.liebiao_ss li span{ float:right; padding:12px 10px 0px 0px;}
.liebiao_ss li a{ color:#5c5c5c;}
.liebiao_ss li a:hover{ color:#4bc610;}

.huodong_a{ width:99%; margin:0px;}
.aa_a{ width:100%;}
.aa_a img{ width:100%;}
.aa_nei_a{ width:100%;}

.biaotu{ width:100%;}
.biaotu img{ width:60%; padding-left:30px;}
.chanpin_a{ width:100%;}
.piaofu_c{ width:100%;}
.datu_a{ width:100%; text-align:center;}
.datu_a img{ width:100%;}
.chanpin_a img{ width:42%; padding:4% 0px 0px 18%;}
.shuoming_a{ width:100%; padding:5% 0 5% 0;}
.shuoming_a p{ font-size:0.7em; color:#FFF; line-height:20px; margin:0px; padding:0 10% 0 10%;}

.nei_g{ width:100%; margin:0 auto;}
.huodong_b{width:100%; margin:0px;}
.aa_b{ width:100%;}
.aa_b img{ width:100%;}
.aa_nei_b{ width:100%;}

.fg_zuo{ width:50%; float:left; padding-top:15%;}
.kop{ width:100%;}
.kop img{ width:100%;}
.ldp{ width:100%;}
.ldp h3{font-size:0.9em; color:#fadd56; line-height:30px; text-indent:8%; margin:0px;}
.ldp h3 a{ color:#fadd56;}
.ldp h3 a:hover{ color:#faecab;}
.ldp h4{font-size:0.7em; color:#FFF; line-height:30px; margin:0px;}
.ldp td{ text-align:center;}
.ldp td img{ width:92%;}
.ldp td h1{ font-size:1.2em; color:#FFF; margin:0px;}
.gud{ width:100%; height:60px; background:url(../images/tu49.png) no-repeat 40px 0px; margin-top:15px;}
.gud ul{ margin:0pxc; padding:0px 0px 0px 10%;}
.gud li{ width:40%; float:left; list-style:none; font-size:40px; color:#FFF; text-align:center; padding:3% 0 0 2%; line-height:40px;}

.dibu{ width:100%; height:190px;}
.hoope{ width:100%;}
.hoope img{ width:100%;}
.loyt{ width:100%;}
.loyt p{ font-size:0.8em; color:#FFF; line-height:20px; text-align:center;}

.neirong_d{ width:99%; margin:0 auto;}
.d_wenben{ width:100%; background:#f7f6e1;}
.d_wenben td h1{ height:30px; font-size:0.9em; color:#6e6d6d; line-height:30px; margin:0px; padding-left:3%;}
.d_wenben td img{ border:solid 2px #FFFFFF;}

.bgyu{ width:100%; font-size:0.7em;}
.bgyu_zuo{ width:49%; float:left; background:#e61945;}
.bgyu_zuo h2{ height:50px; text-align:center; color:#FFF; line-height:50px; margin:0px;}
.bgyu_you{ width:50%; float:left; background:#e61945; margin-left:1%;}
.bgyu_you h2{ height:50px; text-align:center; color:#FFF; line-height:50px; margin:0px;}

.huihuang{width:99%; margin:0 auto;}
.huihuang h2{ height:60px; color:#5a5959; text-align:center; line-height:60px; font-size:1em; margin:0px;}

.bianmin{ width:100%;}
.bianmin a{ color:#6a6a6a;}
.bianmin a:hover{ color:#6a6a6a;}
.utew{ width:100%;}
.hste{ width:98%; margin:0 auto; background:#FFF; border-bottom:solid 1px #b5b6b6;}
.hste ul{ margin:0px; padding:0px 0px 0px 4%;}
.hste li{float:left; font-size:1em; color:#fff; list-style:none;}
.ou{ width:6%; margin-top:2%;}
.ou img{ width:85%;}
.oy{ width:75%; padding-top:2%;}
.ot{ width:10%; height:25px; text-align:center; font-size:0.8em; background:#e61945; color:#FFF; -webkit-border-radius: 3px; border-radius: 3px; overflow:hidden; display:block; margin-top:1%;}

.tegs{ width:98%; margin:0 auto; background:#FFF;}
.tegs ul{ margin:0px; padding:0px;}
.tegs li{ height:45px; font-size:1em; color:#555454; line-height:45px; list-style:none; text-indent:15%; background:url(../images/tu58.png) no-repeat 5% 50%; border-bottom:solid 1px #e4e4e4;}
.tegs li span{ float:right; padding-right:27%;}

.tre{ width:98%; margin:0 auto; background:#FFF;}
.tre ul{ margin:0px; padding:0px;}
.tre li{ height:45px; font-size:1.0em; color:#555454; line-height:45px; list-style:none; text-indent:7%; border-bottom:solid 1px #e4e4e4;}
.tre li span{ float:right; padding-right:20%;}

.hwsdf{ width:100%; background:#ee2e68; margin-top:15px;}
.hwsdf ul{ margin:0px; padding:0px;}
.hwsdf li{ width:25%; height:80%; float:left; list-style:none; text-align:center; padding:2% 0 1% 0;}
.hwsdf li img{ width:90%;}

.biaoti{ width:100%; background:url(../images/tu63.png);}
.biaoti h2{ height:40px; font-size:1.2em; color:#FFF; line-height:40px; text-indent:20px;}
.biaoti h2 span{ font-size:0.7em; padding-left:2%; font-weight:normal;}

.liebiao_yy{width:100%; margin:10px 0px 0px 0px; text-align:center;}
.liebiao_yy p{ font-size:0.9em; color:#5e5e5e; line-height:35px; padding:0 5% 0 5%; text-align:left;}
.liebiao_yy img{ width:90%;}

.piaofu_a td img{ width:60%;}
.piaofu_a td{ font-size:1em; color:#FFF;}

.renwu{ width:95%; margin:0 auto; background:#FFF;}
.huiyuan{ width:100%; padding-top:2%;}
.huiyuan td img{ width:98%;}

.huiyuan td h1{ height:30px; font-size:0.8em; color:#6e6d6d; line-height:30px; margin:0px; padding-left:5%; font-weight:normal;}
.huiyuan td h1 strong{ color:#50c3ee; font-weight:normal;}
.huiyuan td h1 span{ color:#f53907;}
.huiyuan td h4{ height:50%; font-size:0.7em; color:#FFF; background:#437f02;  -webkit-border-radius: 3px; border-radius: 3px; overflow:hidden; display:block; font-weight:normal; text-align:center; padding:1% 0 1% 0;}

.tupian_ff{width:100%; background:url(../images/tu63.png);}
.huiyuan td h5{ height:50%; font-size:0.7em; color:#FFF; background:#53baea;  -webkit-border-radius: 3px; border-radius: 3px; overflow:hidden; display:block; font-weight:normal; text-align:center; padding:8% 0 8% 0;}
.huiyuan td h5 a{ color:#FFF;}
.huiyuan td h5 a:hover{ color:#c6f3fd;}


.huiyuan_sf td h5{ height:50%; font-size:0.7em; color:#FFF; background:#53baea;  -webkit-border-radius: 3px; border-radius: 3px; overflow:hidden; display:block; font-weight:normal; text-align:center; padding:8% 0 8% 0;}
.huiyuan_sf td h5 a{ color:#FFF;}
.huiyuan_sf td h5 a:hover{ color:#c6f3fd;}
.huiyuan_sf{ width:100%; padding-top:2%;}
.huiyuan_sf td img{ width:100%;}

.huiyuan_sf td h1{ height:200%; font-size:0.8em; color:#6e6d6d; line-height:200%; margin:0px; padding-left:5%; font-weight:normal;}
.huiyuan_sf td h1 strong{ color:#50c3ee; font-weight:normal;}
.huiyuan_sf td h1 span{ color:#f53907;}
.huiyuan_sf td h4{ height:50%; font-size:0.7em; color:#FFF; background:#437f02;  -webkit-border-radius: 3px; border-radius: 3px; overflow:hidden; display:block; font-weight:normal; text-align:center; padding:1% 0 1% 0;}

.huiyuan_swe{ width:100%; padding-top:2%;}
.huiyuan_swe td{ font-size:0.8em; color:#646566;}
.huiyuan_swe td h1{ margin:0px;}
.huiyuan_swe td h1 strong{ color:#f8260a; font-weight:normal;}
.huiyuan_swe td h4{ height:50%; font-size:1.4em; color:#FFF; background:#6ad0f7;  -webkit-border-radius: 3px; border-radius: 3px; overflow:hidden; display:block; font-weight:normal; text-align:center; padding:8% 0 8% 0;}
.huiyuan_swe td h4 a{ color:#FFF;}

.huiyuan_swe td h3{ font-size:0.8em; font-weight:normal;}
.huiyuan_swe td h3 span{ padding-left:6%;}
.huiyuan_swe td h3 span a{ color:#05ba52;}

.huiyuan_swe td h5{ height:50%; font-size:1.4em; color:#FFF; background:#f86f0a;  -webkit-border-radius: 3px; border-radius: 3px; overflow:hidden; display:block; font-weight:normal; text-align:center; padding:8% 0 8% 0;}
.huiyuan_swe td h5 a{ color:#FFF;}
.bhets{ width:100%;}
.bhets img{ width:100%;}

.huiyuan_ddra{ width:100%; padding-top:2%;}
.huiyuan_ddra td{ font-size:0.8em; color:#646566;}
.huiyuan_ddra td img{ width:100%;}
.huiyuan_ddra td{ font-size:0.8em; color:#646566;}
.huiyuan_ddra td h1{ margin:0px;}
.huiyuan_ddra td h1 strong{ color:#f8260a; font-weight:normal;}

.huiyuan_ddra td h3{ font-size:1em; font-weight:normal;}
.huiyuan_ddra td h3 span{ padding-left:6%;}
.huiyuan_ddra td h3 span a{ color:#05ba52;}
.huiyuan_ddra td h2{ margin:0px; text-align:center; font-size:1em; color:#F00; font-weight:normal;}
.huiyuan_ddra td h2 img{ width:40%;}
.huiyuan_ddra td h2 span{ color:#7b7b7b;}

.huiyuan_yytr{ width:100%; padding-top:2%;}
.huiyuan_yytr td{ font-size:0.8em; color:#79797a;}
.huiyuan_yytr td img{ width:85%; border:solid 1px #a8a8a9;}
.huiyuan_yytr td h3{ font-size:1.2em; color:#02bcf9; font-weight:normal; line-height:35px; padding-left:3%; margin:0px;}
.huiyuan_yytr td h3 span{ padding-left:5%; color:#f91f02; font-size:0.8em;}
.huiyuan_yytr td h3 strong{ font-weight:normal; color:#79797a; font-size:0.8em;}

.tupian_kop{width:100%; background:url(../images/tu63.png);}
.bffs{ width:100%; position:relative; z-index:1;}
.bffs img{ width:100%;}
.piaofu_h{ width:100%; max-width:640px; height:50px; font-size:1em; color:#FFF; line-height:50px; text-indent:5%; border-bottom:3px solid #cae603; border-top:2px solid #cae603; background:url(../images/tu29.png); z-index:2;}
.piaofu_h strong{ font-weight:normal; font-size:0.8em;}
.piaofu_h span{ color:#F00; font-size:0.8em; padding-left:4%;}

.piaofu_h td img{ width:60%;}
.piaofu_h td{ font-size:1.2em; color:#FFF;}

.th_aa{ width:100%; padding-top:2%;}
.th_aa td img{ width:80%;}
.th_aa td h1{ height:25px; margin:0px; font-size:0.8em; font-weight:normal; color:#737373; padding-left:6%;}
.th_aa td h1 span{ color:#05bcf8;}
.th_aa td h1 strong{ color:#fb3110;}
.th_aa td h4{font-size:0.8em; color:#FFF; background:#6ad0f7;  -webkit-border-radius: 3px; border-radius: 3px; overflow:hidden; display:block; font-weight:normal; text-align:center; padding:8% 0 8% 0;}
.th_aa td h4 a{ color:#FFF;}
.rdgs{ width:95%; margin:0 auto; background:#FFF;}

.huiyuan_wtop td h4{ height:50%; font-size:0.7em; color:#FFF; background:#f86b04;  -webkit-border-radius: 3px; border-radius: 3px; overflow:hidden; display:block; font-weight:normal; text-align:center; padding:8% 0 8% 0;}
.huiyuan_wtop td h4 a{ color:#FFF;}
.huiyuan_wtop{ width:100%; padding-top:2%;}
.huiyuan_wtop td{ font-size:0.8em; color:#79797a;}
.huiyuan_wtop td img{ width:85%; border:solid 1px #a8a8a9;}
.huiyuan_wtop td h3{ font-size:1.2em; color:#02bcf9; font-weight:normal; line-height:25px; padding-left:3%; margin:0px;}
.huiyuan_wtop td h3 span{ color:#868686; font-size:0.8em;}
.huiyuan_wtop td h3 strong{ font-weight:normal; color:#f84304; font-size:0.8em;}

.huiyuan_wtop td h1{ width:80%; font-size:1em; color:#FFF; background:#f86b04;  -webkit-border-radius: 3px; border-radius: 3px; overflow:hidden; display:block; font-weight:normal; text-align:center; padding:3% 0 3% 0;}
.huiyuan_wtop td h1 a{ color:#FFF;}

.yetsd{ width:100%;}
.yetsd td img{ width:80%;}

.huiyuan_wtop td h5{ font-size:1.5em; color:#02bcf9; font-weight:normal; line-height:25px; padding-left:3%; margin:0px;}
.huiyuan_wtop td h5 span{ color:#868686; font-size:0.8em;}
.huiyuan_wtop td h5 strong{ font-weight:normal; color:#f84304; font-size:0.8em;}
.huiyuan_wtop td h2{ width:80%; font-size:1.5em; color:#FFF; background:#26a4d8;  -webkit-border-radius: 3px; border-radius: 3px; overflow:hidden; display:block; font-weight:normal; text-align:center; padding:6% 0 6% 0;}

.kaok{ width:100%; max-width:640px;}
.fuhao{ width:100%;}
.fuhao img{ width:100%;}
.jingjiabi{ width:100%; padding-top:3%;}
.jingjiabi h2{ font-size:0.8em; color:#FFF; text-indent:2%; margin:0px;}
.jingjiabi h2 span{ float:right; color:#fadd56; padding-right:2%;}

.huodong_a{ width:100%;}